@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);
@import 'form.css';
@import 'result.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #EFFAFA;
    padding-bottom: 50px;
}

header {
    img {
        width: 100%;
    }
}

::-webkit-scrollbar {
    width: 7px;
}

 ::-webkit-scrollbar-track {
    background: #5CA5A5;
}

 ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 50px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #fdffdf;
    cursor: grab;
}

 ::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}

input {
    outline: none;
}

#deleteAll {
    max-width: 250px;
    width: 100%;
    margin: 0 auto;
    text-transform: uppercase;
    padding: 5px 7px;
    border-radius: 7px;
    cursor: pointer;
    border: 1px solid #2B3939;
    background-color: #5CA5A5;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.1230769231915474px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    transition: 0.3s;
    user-select: none;
    margin-top: 30px;
    box-shadow: 0px 15px 20px -5px #0D718226;
    &:active {
        transform: scale(0.95);
    }
}